.container {
  width: 320px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  padding: 20px;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.formContainer {
  transition: all 0.5s ease;
  opacity: 1;
  transform: translateX(0);
}

.slideIn {
  animation: slideIn 0.5s forwards;
}

.slideOut {
  animation: slideOut 0.5s forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-30%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    opacity: 0;
    transform: translateX(30%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.biArrowLeft {
  position: absolute;
  left: 2px;
  top: -3px;
  font-size: 1.5rem;
  cursor: pointer;
  color: #000000;
}

.form {
  display: flex;
  flex-direction: column;
  position: relative;
}

input {
  margin: 10px 0;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ddd;
}

button {
  margin-top: 15px;
  padding: 10px;
  background-color: #ff0000;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #b60000;
}

.switchButton {
  margin-top: 15px;
  background: none;
  border: none;
  color: #ff0000;
  cursor: pointer;
  text-decoration: underline;
}

.roleSelect {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.roleSelect label {
  display: flex;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
  color: #333;
  gap: 8px;
}

.roleSelect input[type="radio"] {
  appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #ff0000;
  border-radius: 50%;
  position: relative;
  outline: none;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.roleSelect input[type="radio"]:checked::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 5.5px;
  width: 8px;
  height: 8px;
  background: #ff0000;
  border-radius: 50%;
}