.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 99vw;
    padding: 40px 16px;
    min-height: 100vh;
    background-color: #f5f5f5;
    box-sizing: border-box;
    margin: 0 auto;
  }
  
  .mainContent {
    flex: 1;
    display: flex;
    flex-direction: column;
  }