.contact {
    background-color: #f5f5f5;
    padding: 15px;
    border-radius: 8px;
   
}

.heading {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.chatButton {
    background-color: #00C4B4;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
}
.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 10px;
}
.phone {
    color: #666;
    margin-top: 10px;
}