.mainArticle {
  margin-bottom: 20px;
  text-decoration: none;
}

.section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 16px;
}

.articleImage {
  width: 100%;
  height: 330px;
  border-radius: 5px;
}

.articleTitle {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 10px 0;
  color: #333;
}

.articleTime {
  color: #666;
  font-size: 0.9rem;
  margin: 5px 0;
  text-align: end;
}

.articleDescription {
  color: #666;
  font-size: 0.9rem;
  margin: 5px 0;
}

.articleList {
  padding-left: 20px;
  list-style: none;
  margin: 0;
  max-height: 450px;
  overflow-y: auto;
  padding-right: 8px;
}

.articleListItem {
  margin: 10px;
  margin-bottom: 15px;
  margin-top: 5px;
}

.articleListLink {
  color: #000000;
  text-decoration: none;
}

.articleListLink:hover {
  opacity: 0.5;
  color: #000000;

}

.navLink {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
  opacity: 0.5;
  background: none;
}

.navLink:hover {
  opacity: 1;
  color: #ff0000;
  background: none;
}

.navLinkActive {
  opacity: 1;
  color: #ff0000;
  border-bottom: 2px solid #ff0000;
  border-radius: 0;
}